name: CD - Terraform Deploy

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: "Docker image tag"
        required: true
        default: "latest"

jobs:
  deploy:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: terraform

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Setup SSH Key
        run: |
          printf "%s" "${{ secrets.EC2_SSH_KEY }}" > ../strapi-key-jayani.pem
          chmod 400 ../strapi-key-jayani.pem

      - name: Terraform Init
        run: terraform init -input=false
      - name: Terraform Plan
        run: |
          terraform plan \
            -var="docker_username=jayani23" \
            -var="image_tag=${{ github.event.inputs.image_tag }}" \
            -var="private_key_path=../strapi-key-jayani.pem"
      - name: Terraform Apply
        run: |
          terraform apply -auto-approve \
            -var="docker_username=jayani23" \
            -var="image_tag=${{ github.event.inputs.image_tag }}" \
            -var="private_key_path=../strapi-key-jayani.pem"
