name: CD - Deploy to ECS

on:
  workflow_run:
    workflows: ["CI - Build and Push Image"]
    types:
      - completed

concurrency:
  group: terraform
  cancel-in-progress: false

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    env:
      AWS_REGION: ${{ secrets.AWS_REGION }}
      PROJECT_NAME: strapi

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: terraform
        run: terraform init -reconfigure

      - name: Terraform Apply (Infra Only)
        working-directory: terraform
        run: |
          terraform apply -auto-approve \
            -var="aws_region=${AWS_REGION}" \
            -var="project_name=${PROJECT_NAME}" \
            -var="image_uri=public.ecr.aws/docker/library/nginx:latest"

      - name: Get Latest Image Tag
        id: image-tag
        run: echo "IMAGE_TAG=${GITHUB_SHA}" >> $GITHUB_ENV

      - name: Terraform Apply (Deploy App)
        working-directory: terraform
        run: |
          REGISTRY=$(aws sts get-caller-identity --query Account --output text).dkr.ecr.${AWS_REGION}.amazonaws.com
          IMAGE_URI="$REGISTRY/${PROJECT_NAME}-repo-jayani:${IMAGE_TAG}"

          terraform apply -auto-approve \
            -var="aws_region=${AWS_REGION}" \
            -var="project_name=${PROJECT_NAME}" \
            -var="image_uri=${IMAGE_URI}"
