name: CI - Build and Push Image

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      AWS_REGION: ${{ secrets.AWS_REGION }}
      PROJECT_NAME: strapi
      REPO_NAME: strapi-repo-jayani

    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
    
      - name: Ensure ECR Repository Exists
        run: |
          aws ecr describe-repositories --repository-names $REPO_NAME || \
          aws ecr create-repository --repository-name $REPO_NAME
    
      - name: Login to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
    
      - name: Build and Push Image
        id: build-image
        run: |
          IMAGE_TAG=${GITHUB_SHA}
          REGISTRY=${{ steps.login-ecr.outputs.registry }}
          IMAGE_URI=$REGISTRY/$REPO:$IMAGE_TAG

          docker build -t $IMAGE_URI ./strapi-app
          docker push $IMAGE_URI

          echo "image_uri=$IMAGE_URI" >> $GITHUB_OUTPUT