name: Deploy Strapi to ECS Fargate

on:
  push:
    branches:
      - main

concurrency:
  group: terraform
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      AWS_REGION: ${{ secrets.AWS_REGION }}
      PROJECT_NAME: strapi

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Configure AWS
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      # Login to ECR
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      # Build & Push Docker Image
      - name: Build and Push Docker Image
        id: build-image
        run: |
          IMAGE_TAG=${GITHUB_SHA}
          REGISTRY=${{ steps.login-ecr.outputs.registry }}
          REPO=${PROJECT_NAME}-repo
          IMAGE_URI=$REGISTRY/$REPO:$IMAGE_TAG

          docker build -t $IMAGE_URI ./strapi-app
          docker push $IMAGE_URI

          echo "image_uri=$IMAGE_URI" >> $GITHUB_OUTPUT

      # Terraform Setup
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      - name: Terraform Apply
        working-directory: terraform
        run: |
          terraform apply -auto-approve \
            -var="aws_region=${AWS_REGION}" \
            -var="project_name=${PROJECT_NAME}" \
            -var="image_uri=${{ steps.build-image.outputs.image_uri }}"
